*.class
.metadata
.settings

bin
classes
Servers
Index.html

EPCPlanWeb/WebContent/assets
EPCPlanWeb/WebContent/history
EPCPlanWeb/WebContent/*.swf
EPCPlanWeb/WebContent/swfobject.js

EPCPlanFlexView/html-template/*.swf

workspace/
LibUtil_Crud/bin-debug/LibUtil_Crud.swc
LibUtil_Flex/bin-debug/LibUtil_Flex.swc
EPCPlanWeb/WebContent/Movimento_Mercadorias-1.wsdl.orig
.idea/
*.iml
